[submodule "Almond/vendor/spdlog"]
	path = Almond/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Almond/vendor/GLFW"]
	path = Almond/vendor/GLFW
	url = https://github.com/thecherno/glfw
