[submodule "Almond/vendor/spdlog"]
	path = Almond/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Almond/vendor/GLFW"]
	path = Almond/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Almond/vendor/imgui"]
	path = Almond/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Almond/vendor/glm"]
	path = Almond/vendor/glm
	url = https://github.com/g-truc/glm
